/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/(root)/(routes)/property-details/[address]/ROICalculatorPopup.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************/
.roi-calculator-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup-content {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 2;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 5px;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .input-field {
    margin-bottom: 20px;
  }
  
  .input-field label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-field input.input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .results-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .results-container h2 {
    margin-bottom: 15px;
  }
  
  .results-container p {
    margin: 5px 0;
  }
  

  
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/(root)/(routes)/dashboard/FullPageROICalculator.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************/
html {
  scroll-behavior: smooth;
}

.roi-calculator-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* subtle shadow for depth */
  background: white; /* white background for the calculator */
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f4f4f4; /* lighter shade for a clean look */
  border: 1px solid #ddd; /* border to separate sections */
  width: 100%;
  text-align: left;
  cursor: pointer;
  border-radius: 0; /* squared corners */
}

.form-container {
  background: white; /* Solid white background for form */
  padding: 20px;
  border-radius: 0; /* squared corners */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  max-width: 800px; /* consistent width with the container */
  margin: auto;
}

.input-field {
  margin-bottom: 15px;
}

.input-field label {
  display: block;
  margin-bottom: 5px;
  color: #333; /* Darker text for better readability */
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 0; /* squared corners */
}

.input:focus {
  border-color: #b24c43; /* color to match the theme */
  box-shadow: 0 0 0 2px rgba(178, 76, 67, 0.25);
}

.error {
  color: #b24c43; /* color to match the theme */
  font-size: 0.875em;
}

.collapsible-section .section-title {
  background-color: #f4f4f4;
  margin-top: 10px;
}

.section-content {
  padding: 0; /* removed padding */
  border: 1px solid #ccc;
  border-top: none;
}

.submit-button {
  background-color: #b24c43; /* color to match the theme */
  color: white;
  padding: 10px 15px;
  border-radius: 0; /* squared corners */
  display: block;
  width: 100%;
}

.submit-button:hover {
  background-color: #962d26; /* darker shade for hover effect */
}

.results-container {
  margin-top: 20px; /* reduced margin */
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 0; /* squared corners */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  max-width: 800px; /* consistent width with the container */
  margin: auto;
}

.results-container h2 {
  margin-bottom: 15px;
  color: #333;
}

.results p {
  margin: 10px 0;
  color: #555;
  font-size: 16px;
}

.results {
  background: white;
  border-radius: 0; /* squared corners */
  border: 1px solid #ccc;
  padding: 20px;
}

/* Simplified section title and content without the arrow indicators */
.section-title, .section-content {
  border-radius: 0; /* squared corners */
}

