node_modules
.env
*.gz
.next/app-build-manifest.json
.next/build-manifest.json
.next/fallback-build-manifest.json
.next/trace
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/4.pack.gz
.next/cache/webpack/client-development/6.pack.gz
.next/cache/webpack/client-development/7.pack.gz
.next/cache/webpack/client-development/8.pack.gz
.next/cache/webpack/client-development/9.pack.gz
.next/cache/webpack/client-development/10.pack.gz
.next/cache/webpack/client-development/12.pack.gz
.next/cache/webpack/client-development/13.pack.gz
.next/cache/webpack/client-development/14.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/3.pack.gz
.next/cache/webpack/server-development/4.pack.gz
.next/cache/webpack/server-development/5.pack.gz
.next/cache/webpack/server-development/6.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/server/_error.js
.next/server/app-paths-manifest.json
.next/server/middleware-build-manifest.js
.next/server/pages-manifest.json
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/server/webpack-runtime.js
.next/server/app/_not-found_client-reference-manifest.js
.next/server/app/not-found_client-reference-manifest.js
.next/server/app/not-found.js
.next/server/app/(auth)/(routes)/sign-in/[[...sign-in]]/page_client-reference-manifest.js
.next/server/app/(auth)/(routes)/sign-in/[[...sign-in]]/page.js
.next/server/app/(root)/(routes)/page_client-reference-manifest.js
.next/server/app/(root)/(routes)/page.js
.next/server/app/(root)/(routes)/items/page_client-reference-manifest.js
.next/server/app/(root)/(routes)/items/page.js
.next/server/app/(root)/(routes)/webapi/page_client-reference-manifest.js
.next/server/app/(root)/(routes)/webapi/page.js
.next/server/app/favicon.ico/route.js
.next/server/pages/_app.js
.next/server/pages/_document.js
.next/server/pages/_error.js
.next/server/vendor-chunks/@babel.js
.next/server/vendor-chunks/@radix-ui.js
.next/server/vendor-chunks/@swc.js
.next/server/vendor-chunks/@tanstack.js
.next/server/vendor-chunks/date-fns.js
.next/server/vendor-chunks/next.js
.next/static/chunks/_error.js
.next/static/chunks/main.js
.next/static/chunks/react-refresh.js
.next/static/chunks/webpack.js
.next/static/chunks/app/layout.js
.next/static/chunks/app/not-found.js
.next/static/chunks/app/(auth)/layout.js
.next/static/chunks/app/(auth)/(routes)/sign-in/[[...sign-in]]/page.js
.next/static/chunks/app/(root)/layout.js
.next/static/chunks/app/(root)/(routes)/page.js
.next/static/chunks/app/(root)/(routes)/items/page.js
.next/static/chunks/app/(root)/(routes)/webapi/page.js
.next/static/chunks/fallback/amp.js
.next/static/chunks/fallback/main.js
.next/static/chunks/fallback/react-refresh.js
.next/static/chunks/fallback/webpack.js
.next/static/chunks/fallback/pages/_app.js
.next/static/chunks/fallback/pages/_error.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/_error.js
.next/static/css/app/layout.css
.next/static/development/_buildManifest.js
.next/static/webpack/0b4b9747f1683f87.webpack.hot-update.json
.next/static/webpack/55a86de8ba2785bd.webpack.hot-update.json
.next/static/webpack/667a652a7decf483.webpack.hot-update.json
.next/static/webpack/5400bb992655bc9d.webpack.hot-update.json
.next/static/webpack/9211ddd6ed5ede30.webpack.hot-update.json
.next/static/webpack/9936a6f8f7600d68.webpack.hot-update.json
.next/static/webpack/17010ee89c37fdf0.webpack.hot-update.json
.next/static/webpack/097390c688bca4e7.webpack.hot-update.json
.next/static/webpack/a344ac845c714f82.webpack.hot-update.json
.next/static/webpack/abd5db53514ea81f.webpack.hot-update.json
.next/static/webpack/c7eb493b8c7a51eb.webpack.hot-update.json
.next/static/webpack/c205e42aa594cec2.webpack.hot-update.json
.next/static/webpack/cee0ae699c2482e2.webpack.hot-update.json
.next/static/webpack/dbe239e0592eb7d7.webpack.hot-update.json
.next/static/webpack/de2b246fdac2063f.webpack.hot-update.json
.next/static/webpack/f6a5cbad82ac0fac.webpack.hot-update.json
.next/static/webpack/f92880ddb549213d.webpack.hot-update.json
.next/static/webpack/fa50865171f5bfc8.webpack.hot-update.json
.next/static/webpack/webpack.0b4b9747f1683f87.hot-update.js
.next/static/webpack/webpack.55a86de8ba2785bd.hot-update.js
.next/static/webpack/webpack.667a652a7decf483.hot-update.js
.next/static/webpack/webpack.5400bb992655bc9d.hot-update.js
.next/static/webpack/webpack.9211ddd6ed5ede30.hot-update.js
.next/static/webpack/webpack.9936a6f8f7600d68.hot-update.js
.next/static/webpack/webpack.17010ee89c37fdf0.hot-update.js
.next/static/webpack/webpack.097390c688bca4e7.hot-update.js
.next/static/webpack/webpack.a344ac845c714f82.hot-update.js
.next/static/webpack/webpack.abd5db53514ea81f.hot-update.js
.next/static/webpack/webpack.c7eb493b8c7a51eb.hot-update.js
.next/static/webpack/webpack.c205e42aa594cec2.hot-update.js
.next/static/webpack/webpack.cee0ae699c2482e2.hot-update.js
.next/static/webpack/webpack.dbe239e0592eb7d7.hot-update.js
.next/static/webpack/webpack.de2b246fdac2063f.hot-update.js
.next/static/webpack/webpack.f6a5cbad82ac0fac.hot-update.js
.next/static/webpack/webpack.f92880ddb549213d.hot-update.js
.next/static/webpack/webpack.fa50865171f5bfc8.hot-update.js
.next/static/webpack/app/layout.667a652a7decf483.hot-update.js
.next/static/webpack/app/layout.5400bb992655bc9d.hot-update.js
.next/static/webpack/app/layout.abd5db53514ea81f.hot-update.js
.next/static/webpack/app/layout.c7eb493b8c7a51eb.hot-update.js
.next/static/webpack/app/layout.c205e42aa594cec2.hot-update.js
.next/static/webpack/app/layout.cee0ae699c2482e2.hot-update.js
.next/static/webpack/app/layout.de2b246fdac2063f.hot-update.js
.next/static/webpack/app/layout.f6a5cbad82ac0fac.hot-update.js
.next/static/webpack/app/layout.f92880ddb549213d.hot-update.js
.next/static/webpack/app/(root)/(routes)/page.5400bb992655bc9d.hot-update.js
.next/static/webpack/app/(root)/(routes)/webapi/page.55a86de8ba2785bd.hot-update.js
.next/static/webpack/app/(root)/(routes)/webapi/page.097390c688bca4e7.hot-update.js
.next/static/webpack/app/(root)/(routes)/webapi/page.a344ac845c714f82.hot-update.js
.next/static/webpack/app/(root)/(routes)/webapi/page.de2b246fdac2063f.hot-update.js
.next/static/webpack/app/(root)/(routes)/webapi/page.f92880ddb549213d.hot-update.js
.next/app-build-manifest.json
.next/build-manifest.json
.next/fallback-build-manifest.json
.next/trace
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/4.pack.gz
.next/cache/webpack/client-development/5.pack.gz
.next/cache/webpack/client-development/6.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/edge-server-development/0.pack.gz
.next/cache/webpack/edge-server-development/1.pack.gz
.next/cache/webpack/edge-server-development/index.pack.gz
.next/cache/webpack/edge-server-development/index.pack.gz.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/3.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/server/app-paths-manifest.json
.next/server/edge-runtime-webpack.js
.next/server/middleware-build-manifest.js
.next/server/middleware.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages-manifest.json
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/server/webpack-runtime.js
.next/server/app/_not-found_client-reference-manifest.js
.next/server/app/not-found_client-reference-manifest.js
.next/server/app/not-found.js
.next/server/app/(auth)/(routes)/sign-in/[[...sign-in]]/page_client-reference-manifest.js
.next/server/app/(auth)/(routes)/sign-in/[[...sign-in]]/page.js
.next/server/app/(root)/(routes)/page_client-reference-manifest.js
.next/server/app/(root)/(routes)/page.js
.next/server/app/(root)/(routes)/items/page_client-reference-manifest.js
.next/server/app/(root)/(routes)/items/page.js
.next/server/app/(root)/(routes)/webapi/page_client-reference-manifest.js
.next/server/app/(root)/(routes)/webapi/page.js
.next/server/app/favicon.ico/route.js
.next/server/pages/contact-us.js
.next/server/static/webpack/a5de2c8f6551dd2f.edge-runtime-webpack.hot-update.json
.next/server/static/webpack/edge-runtime-webpack.a5de2c8f6551dd2f.hot-update.js
.next/server/static/webpack/middleware.a5de2c8f6551dd2f.hot-update.js
.next/server/vendor-chunks/@babel.js
.next/server/vendor-chunks/@clerk.js
.next/server/vendor-chunks/@swc.js
.next/server/vendor-chunks/class-variance-authority.js
.next/server/vendor-chunks/date-fns.js
.next/server/vendor-chunks/next.js
.next/static/chunks/_error.js
.next/static/chunks/app-pages-internals.js
.next/static/chunks/main-app.js
.next/static/chunks/main.js
.next/static/chunks/webpack.js
.next/static/chunks/app/layout.js
.next/static/chunks/app/not-found.js
.next/static/chunks/app/(auth)/layout.js
.next/static/chunks/app/(auth)/(routes)/sign-in/[[...sign-in]]/page.js
.next/static/chunks/app/(root)/layout.js
.next/static/chunks/app/(root)/(routes)/page.js
.next/static/chunks/app/(root)/(routes)/items/page.js
.next/static/chunks/app/(root)/(routes)/webapi/page.js
.next/static/chunks/fallback/amp.js
.next/static/chunks/fallback/main.js
.next/static/chunks/fallback/react-refresh.js
.next/static/chunks/fallback/webpack.js
.next/static/chunks/fallback/pages/_app.js
.next/static/chunks/fallback/pages/_error.js
.next/static/chunks/pages/contact-us.js
.next/static/css/app/layout.css
.next/static/development/_buildManifest.js
.next/static/webpack/0b4b9747f1683f87.webpack.hot-update.json
.next/static/webpack/1e0000edcd73478e.webpack.hot-update.json
.next/static/webpack/3d60635908f80d94.webpack.hot-update.json
.next/static/webpack/4ab95a00f206b7a6.webpack.hot-update.json
.next/static/webpack/8ab7ba75b07d7f82.webpack.hot-update.json
.next/static/webpack/21b1b8552e3e39b3.webpack.hot-update.json
.next/static/webpack/55a86de8ba2785bd.webpack.hot-update.json
.next/static/webpack/667a652a7decf483.webpack.hot-update.json
.next/static/webpack/9211ddd6ed5ede30.webpack.hot-update.json
.next/static/webpack/9936a6f8f7600d68.webpack.hot-update.json
.next/static/webpack/17010ee89c37fdf0.webpack.hot-update.json
.next/static/webpack/097390c688bca4e7.webpack.hot-update.json
.next/static/webpack/7249250b27444b61.webpack.hot-update.json
.next/static/webpack/a344ac845c714f82.webpack.hot-update.json
.next/static/webpack/abd5db53514ea81f.webpack.hot-update.json
.next/static/webpack/c7eb493b8c7a51eb.webpack.hot-update.json
.next/static/webpack/cee0ae699c2482e2.webpack.hot-update.json
.next/static/webpack/dbe239e0592eb7d7.webpack.hot-update.json
.next/static/webpack/de2b246fdac2063f.webpack.hot-update.json
.next/static/webpack/f6a5cbad82ac0fac.webpack.hot-update.json
.next/static/webpack/f881f4beec4f6a26.webpack.hot-update.json
.next/static/webpack/f92880ddb549213d.webpack.hot-update.json
.next/static/webpack/fa50865171f5bfc8.webpack.hot-update.json
.next/static/webpack/fd0556761481cd5b.webpack.hot-update.json
.next/static/webpack/webpack.0b4b9747f1683f87.hot-update.js
.next/static/webpack/webpack.1e0000edcd73478e.hot-update.js
.next/static/webpack/webpack.3d60635908f80d94.hot-update.js
.next/static/webpack/webpack.4ab95a00f206b7a6.hot-update.js
.next/static/webpack/webpack.8ab7ba75b07d7f82.hot-update.js
.next/static/webpack/webpack.21b1b8552e3e39b3.hot-update.js
.next/static/webpack/webpack.55a86de8ba2785bd.hot-update.js
.next/static/webpack/webpack.667a652a7decf483.hot-update.js
.next/static/webpack/webpack.9211ddd6ed5ede30.hot-update.js
.next/static/webpack/webpack.9936a6f8f7600d68.hot-update.js
.next/static/webpack/webpack.17010ee89c37fdf0.hot-update.js
.next/static/webpack/webpack.097390c688bca4e7.hot-update.js
.next/static/webpack/webpack.7249250b27444b61.hot-update.js
.next/static/webpack/webpack.a344ac845c714f82.hot-update.js
.next/static/webpack/webpack.abd5db53514ea81f.hot-update.js
.next/static/webpack/webpack.c7eb493b8c7a51eb.hot-update.js
.next/static/webpack/webpack.cee0ae699c2482e2.hot-update.js
.next/static/webpack/webpack.dbe239e0592eb7d7.hot-update.js
.next/static/webpack/webpack.de2b246fdac2063f.hot-update.js
.next/static/webpack/webpack.f6a5cbad82ac0fac.hot-update.js
.next/static/webpack/webpack.f881f4beec4f6a26.hot-update.js
.next/static/webpack/webpack.f92880ddb549213d.hot-update.js
.next/static/webpack/webpack.fa50865171f5bfc8.hot-update.js
.next/static/webpack/webpack.fd0556761481cd5b.hot-update.js
.next/static/webpack/app/layout.3d60635908f80d94.hot-update.js
.next/static/webpack/app/layout.667a652a7decf483.hot-update.js
.next/static/webpack/app/layout.7249250b27444b61.hot-update.js
.next/static/webpack/app/layout.abd5db53514ea81f.hot-update.js
.next/static/webpack/app/layout.c7eb493b8c7a51eb.hot-update.js
.next/static/webpack/app/layout.cee0ae699c2482e2.hot-update.js
.next/static/webpack/app/layout.de2b246fdac2063f.hot-update.js
.next/static/webpack/app/layout.f6a5cbad82ac0fac.hot-update.js
.next/static/webpack/app/layout.f92880ddb549213d.hot-update.js
.next/static/webpack/app/(root)/(routes)/webapi/page.55a86de8ba2785bd.hot-update.js
.next/static/webpack/app/(root)/(routes)/webapi/page.097390c688bca4e7.hot-update.js
.next/static/webpack/app/(root)/(routes)/webapi/page.a344ac845c714f82.hot-update.js
.next/static/webpack/app/(root)/(routes)/webapi/page.de2b246fdac2063f.hot-update.js
.next/static/webpack/app/(root)/(routes)/webapi/page.f92880ddb549213d.hot-update.js
